body {
    background-color: rgb(229,219,181);
    }
h1   {color:rgb(163,52,29) ; text-align: center;} 
h2    {color: rgb(47,96,77);}
a:link, a:visited 
{
    color: black;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}